.frame {
  width: 1200px;
  height: 70%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  flex-direction: column;
  &Top {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    button {
      margin-right: 15px;
    }
  }
  &Content {
    padding: 15px;
    flex: 1;
    overflow: hidden;
  }
}