.list {
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid #eee;
    &.item-finish {
      color: #ccc;
      text-decoration: line-through;
      .item-left span {
        color: #999;
      }
    }
    .item-left {
      flex: 1;
      word-break: break-all;
    }
    .item-right {
      flex-shrink: 0;
    }
    &:last-child {
      border: none;
    }
    .btn-item {
      margin-left: 1rem;
    }
  }
  &-total {
    color: #333;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}